(trait
 Program
 ; TODO - add documentation about the trait itself
 ; TODO - add documentation about the events
 :OnRez [[Type.Block] Type.None]
 :OnDerez [[Type.Block] Type.None]
 :Advance [[Type.Block]])
